 <!-- Naming  -->
 <div class="header col-lg-10">
        <h2 class="main">Question & Answers</h2>
      </div>
      

<!-- Q1 -->
<div class="card-container  col-lg-4 col-md-6 col-sm-10">
        <div class="card card-front">
            <div class="card-body text-white ">
                <h5 class="card-title">Question</h5>
              <p class="card-tex"><b>Q: Between JavaScript and an ASP script, which is faster?</b></p>
            </div>
          </div>
        
          <div class="card card-back">
            <div class="card-body text-white ">
                <h4 class="card-title">Answer</h4>
              <p class="card-text">JavaScript is faster. JavaScript is a client-side language and thus it does not need the assistance of the web server to execute. On the other hand, ASP is a server-side language and hence is always slower than JavaScript. Javascript now is also a server side language (nodejs).</p>
            <a class="social-link" href="#">
              <i class="far fa-thumbs-up"></i>
            </a>
            &nbsp;
            &nbsp;
            &nbsp;
            <a class="social-link" href="#">
              <i class="far fa-thumbs-down"></i>
            </a>
            </div>
          </div>
        </div>
    
    <!-- Q2 -->
        <div class="card-container col-lg-4 col-md-6 col-sm-10">
            <div class="card card-front">
                <div class="card-body text-white">
                    <h5 class="card-title">Question</h5>
                  <p class="card-tex"><b>Q: Explain the working of timers in JavaScript? Also elucidate the drawbacks of using the timer, if any?</b></p>
                </div>
              </div>
            
              <div class="card card-back">
                <div class="card-body text-white ">
                    <h4 class="card-title">Answer</h4>
                  <p class="card-text">Timers are used to execute a piece of code at a set time or also to repeat the code in a given interval of time. This is done by using the functions setTimeout, setInterval and clearInterval.
    
                      The setTimeout(function, delay) function is used to start a timer that calls a particular function after the mentioned delay. The setInterval(function, delay) function is used to repeatedly execute the given function in the mentioned delay and only halts when cancelled. The clearInterval(id) function instructs the timer to stop.
                      
                      Timers are operated within a single thread, and thus events might queue up, waiting to be executed.</p>
                      <a class="social-link" href="#">
                          <i class="far fa-thumbs-up"></i>
                        </a>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <a class="social-link" href="#">
                          <i class="far fa-thumbs-down"></i>
                        </a>
                </div>
              </div>
            </div>
    
        <!-- Q3  -->
        <div class="card-container  col-lg-4 col-md-6 col-sm-10">
            <div class="card card-front">
                <div class="card-body text-white">
                    <h5 class="card-title">Question</h5>
                  <p class="card-tex"><b> Q: Mention what is the disadvantage of using innerHTML in JavaScript?</b></p>
                </div>
              </div>
            
              <div class="card card-back">
                <div class="card-body text-white">
                    <h4 class="card-title">Answer</h4>
                  <p class="card-text">If you use innerHTML in JavaScript the disadvantage is:<br>
    
                      (a)Content is replaced everywhere<br>
                      (b)We cannot use like "appending to innerHTML"<br>
                      (c)Even if you use +=like "innerHTML = innerHTML + 'html'" still the old content is replaced by html<br>
                      (d)The entire innerHTML content is re-parsed and build into elements, therefore its much slower<br>
                      (e)The innerHTML does not provide validation and therefore we can potentially insert valid and broken HTML in the document and break it</p>
                      <a class="social-link" href="#">
                          <i class="far fa-thumbs-up"></i>
                        </a>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <a class="social-link" href="#">
                          <i class="far fa-thumbs-down"></i>
                        </a>
                </div>
              </div>
            </div>
    
        <!-- Q4 -->
        <div class="card-container  col-lg-4 col-md-6 col-sm-10">
            <div class="card card-front">
                <div class="card-body text-white">
                    <h5 class="card-title">Question</h5>
                  <p class="card-tex"> <b>Q: What are the different types of errors in JavaScript?</b></p>
                </div>
              </div>
            
              <div class="card card-back">
                <div class="card-body text-white">
                    <h4 class="card-title">Answer</h4>
                  <p class="card-text">There are three types of errors:<br><br>
    
                      (a)Load time errors: Errors which come up when loading a web page like improper syntax errors are known as Load time errors and it generates the errors dynamically.<br>
                      (b)Run time errors: Errors that come due to misuse of the command inside the HTML language.<br>
                      (c)Logical Errors: These are the errors that occur due to the bad logic performed on a function which is having different operation.</p>
                      <a class="social-link" href="#">
                          <i class="far fa-thumbs-up"></i>
                        </a>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <a class="social-link" href="#">
                          <i class="far fa-thumbs-down"></i>
                        </a>
                </div>
              </div>
            </div>
